@import "./theme";

body {
  font-family: "Nunito Sans", Fallback, sans-serif;
  background-color: var(--background);
  margin: 0;
  * {
    border: none;
    outline: none;
    color: var(--text);
  }
}
@font-face {
  font-family: "Nunito Sans";
  src: local("Nunito Sans"),
    url(~/assets/fonts/NunitoSans/NunitoSans_7pt-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Nunito Sans";
  src: local("Nunito Sans"),
    url(~/assets/fonts/NunitoSans/NunitoSans_7pt_Expanded-Regular.ttf)
      format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: local("Nunito Sans"),
    url(~/assets/fonts/NunitoSans/NunitoSans_7pt-SemiBold.ttf)
      format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Nunito Sans";
  src: local("Nunito Sans"),
    url(~/assets/fonts/NunitoSans/NunitoSans_10pt_Condensed-ExtraBold.ttf)
      format("truetype");
  font-weight: 800;
}
